extends layout/default

block scripts

append content
  .ui.button.huge Huge

  p

  a.ui.button.huge Huge

  p

  button.ui.button.huge Huge

  p

  .ui.button.huge.compact Compact

  p

  a.ui.button.huge.compact Compact

  p

  button.ui.button.huge.compact Compact
